[run]
source =
    datainterpreter
    driver
    event_bus
    network_manager
    paths
    polling_agent
    security_manager
omit =
    tests/*
    *_test.py
    test_*.py
    __pycache__/*
    */__init__.py